 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    html, body {
    width: 100%;
    overflow-x: hidden;
    }

    /* ======================================Navbar=========================================================== */
/* Navbar */
.navbar {
  width: 100%;
  padding: 15px 40px;
  background: #0f5132;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.logo span {
  color: #9ef01a;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #9ef01a;
}

/* Login button */
.login-btn {
  border: 1px solid #9ef01a;
  padding: 6px 15px;
  border-radius: 20px;
}

/* Menu */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 50px;
    right: 0;
    background: #0f5132;
    width: 200px;
    flex-direction: column;
    padding: 0px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
/* ================================================================*/
/* products */

body {
  background: linear-gradient(135deg, #eaffea, #f7fff5);
  /* background-color: #25724e; */
  margin-top: 120px;
}

.header {
  text-align: center;
  /* background-color: #fff; */
  font-size: 55px;
  font-family: 'Tagesschrift','Arial', sans-serif;
}

.span {
  background-color: #9ef01a;
  color: #fff;
  padding: 0px 20px;
  border-radius: 8px;
  font-size: 48px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-block: 60px 40px;
    gap: 10px;
}

#input {
    padding: 10px 15px;
    width: 300px;
    border: 1px solid #000;
    border-radius: 25px;
    font-size: 16px;
    transition: 0.3s;
    font-family: 'Tagesschrift','Arial', sans-serif;
}

#btn {
    background-color: #0f5132;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    position: static; 
    opacity: 1; 
    width: auto; 
    
}

#btn:hover {
    background-color: #9ef01a;
    color: #0f5132;
    transform: scale(1.05);
}

.head {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 30px;
  color:black;
  cursor: pointer;
  font-family: 'Tagesschrift','Arial', sans-serif;
}

.head a {
  border: 1px solid #000000;
  text-decoration: none;
  color: #0f5132;
  background-color: #fff;
  padding: 8px;
  padding-inline: 40px;
  font-size: 20px;
}

.head a.active {
  background-color: #000000;
  color: #fff;
}

.hidden {
  display: none;
}

.products-slider {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 50px;
}

.box {
  text-align: center;
  background-color: #ffffff;
  position: relative;
  margin: 3px;
  border: 1px solid #bdbdbd;
  padding: 15px;
  border-radius: 25px;
  transition: 0.4s;
}

.box:hover {
  border: 1px solid #000000;
  box-shadow: 1px 1px 20px 1px rgb(128, 128, 128);
}

.offers{
  background-color: rgb(0, 196, 0);
  font-family: cursive;
  border-radius: 0 25px;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
}

img {
  padding: 40px;
  width: 258px;
  height: 195px;
  border-radius: 40%;
  transition: 0.3s;
} 

img:hover {
  transform: scale(1.17);
}

.star {
  color: gold;
  margin-block: 5px;
}

.price {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
}

s {
  text-decoration: line-through;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: lighter;
  font-family: cursive;
  margin-right: 15px;
}

hr {
  margin-block: 12px;
}

button {
  background-color: #9ef01a;
  color: #0f5132(255, 255, 255);
  padding: 10px 20px;
  position: absolute;
  width: 145px;
  top: 52%;
  left: 0%;
  border: 1px solid #000000;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
}

button:hover {
  background-color: #0f5132;
  color: #fff;
  transform: scaleX(1.2);
}
.box:hover button{
  transform: translatex(50%);
  opacity: 1;
}
/* ======================================Footer Section===================== */
    .footer {
    background: #c2ff8f;
    color: #333;
    font-size: 20px;
    width: 100%;
    }


    /* Top */
    .footer-top {
    max-width: 1300px;
    margin: auto;
    padding: 70px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    }

    .footer-col h4 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #0f5132;
    }

    .footer-col a {
    display: block;
    font-family:cursive;
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s;
    }

    .footer-col a:hover {
    color: #198754;
    transform: translateX(5px);
    }

    /* Social */
    .footer-social a {
    display: inline-block;
    margin-bottom: 12px;
    padding: 8px 18px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    }

    .facebook { background: #1877f2; }
    .whatsapp { background: #25d366; }
    .instagram {
    background: linear-gradient(45deg,#f58529,#dd2a7b,#8134af);
    }
    .tiktok { background: #000; }

    /* Bottom */
    .footer-bottom {
    border-top: 1px solid #ddd;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    flex-wrap: wrap;
    }

    .footer-bottom p {
    margin: 0;
    font-size: 20px;
    padding-left: 450px;
    text-align: center;
    }

    .footer-links a {
    margin-left: 15px;
    color: #555;
    text-decoration: none;
    font-size: 14px;
    }

    .footer-links a:hover {
    color: #198754;
    }

    /* Mobile */
    @media (max-width: 900px) {
    .footer-top {
        grid-template-columns: repeat(2, 1fr);
    }
    }

    @media (max-width: 500px) {
    .footer-top {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }
    }
    /* footer animaton */
    .footer {
    opacity: 0;
    transform: translateY(120px);
    transition: all 1.2s ease;
    }

    .footer.show {
    opacity: 1;
    transform: translateY(0);
    }
    /* //////////// */
    .footer-col {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
    }

    .footer.show .footer-col {
    opacity: 1;
    transform: translateY(0);
    }

    .footer.show .footer-col:nth-child(1) { transition-delay: 0.2s; }
    .footer.show .footer-col:nth-child(2) { transition-delay: 0.4s; }
    .footer.show .footer-col:nth-child(3) { transition-delay: 0.6s; }
    .footer.show .footer-col:nth-child(4) { transition-delay: 0.8s; }



    /*  */
    .footer-col h4 {
    position: relative;
    overflow: hidden;
    }

    .footer-col h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #198754;
    transition: 0.6s ease;
    }

    .footer.show .footer-col h4::after {
    width: 50px;
    }

    /*  */
    .footer-col a {
    position: relative;
    }

    .footer-col a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: #198754;
    transition: 0.4s ease;
    }

    .footer-col a:hover::before {
    width: 100%;
    }

    .footer-col a:hover {
    letter-spacing: 1px;
    }
