/* ===========User box============ */
.user-box {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

/* أيقونة المستخدم */
.auth {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    background: transparent;
}

.auth img {
    width: 22px;
    filter: brightness(0) invert(1);
}

/* Hover على الأيقونة */
.user-box:hover .auth {
    background: #198754;
    box-shadow: 0 0 15px rgba(25, 135, 84, 0.6);
}

.user-box:hover .auth img {
    filter: brightness(1) invert(0);
}

/* اسم المستخدم */
.username {
    display: none;
    background: none;
    border: none;
    color: #cfe8d8;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

/* القائمة */
.user-menu {
    position: absolute;
    top: 55px;
    right: 0;
    background: #0b2e1e;
    border: 1px solid #198754;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    min-width: 150px;
    z-index: 100;
    box-shadow: 0 0 25px rgba(15, 81, 50, 0.5);
}

.user-menu.show {
    display: flex;
}

/* عناصر القائمة */
.user-menu button {
    background: transparent;
    color: #cfe8d8;
    border: none;
    padding: 12px 16px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

/* Hover على عناصر القائمة */
.user-menu button:hover {
    background: linear-gradient(135deg, #9ef01a, #198754);
    color: #0b2e1e;
}
